.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    span {

        &:first-child {
            font-weight: bold
        }

        &:last-child {
            font-weight: 14px;
        }
    }
}